// Colors
// Grain Yellow: #F5CB5C;
// Honey Dew: #EDFFEC;
// Palm Leaf: #6C7D47;
// Cambridge Blue: #ABC4AB;
// Dark Jungle Green: #19231A;
* {
  box-sizing: border-box;
}

html {
  background-image: url('http://res.cloudinary.com/coleman/image/upload/c_scale,w_1024/v1485887612/german_background_dvajtn.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: 100% 100%;
          background-size: cover;
}

.googleButton{
  text-align: center;
  background-color: #EDFFEC;
}

.googleButtonImg {
  width: 250px;
}

.header {
  text-align: center;
  background-color: #EDFFEC;
}

.headerTitle {

  color: #ABC4AB;
  text-shadow: 2px 1px 2px #6C7D47;
}

.quizContainerTitle {
  text-align: center;
}

.wordContainer {
  background-color: #EDFFEC;
  padding: 20px;
  text-align: center;
}

.questionWordDiv {
  font-weight: bold;
  font-size: 1.5em;
}

.questionWordLabel {
  color: #19231A;
}

.answerWord {
  text-align: center;
}

.translationInput {

  width: 200px;
}

.nextQuestion {
  margin: 10px;
}

.saveSession {
  margin: 10px;
}
