// Colors
// Grain Yellow: #F5CB5C;
// Honey Dew: #EDFFEC;
// Palm Leaf: #6C7D47;
// Cambridge Blue: #ABC4AB;
// Dark Jungle Green: #19231A;
// .landingContainer{
//   // margin: auto;
//   text-align: center;
// }

.googleButton{
  text-align: center;
  margin-top: 50px;
}

.googleButtonImg {
  width: 250px;
}

.header {
  margin: 10px;
  text-align: center;
  background-color: #EDFFEC;
}

.headerTitle {
  padding: 20px;
  color: #ABC4AB;
  text-shadow: 2px 1px 2px #6C7D47;
}

.quizContainerTitle {
  text-align: center;
}

.wordContainer {
  background-color: #EDFFEC;
  padding: 20px;
  text-align: center;
}

.questionWordDiv {
  font-weight: bold;
  font-size: 1.5em;
}

.questionWordLabel {
  color: #19231A;
}

.answerWord {
  text-align: center;
}

.translationInput {

  width: 200px;
}

.nextQuestion {
  margin: 10px;
}

.saveSession {
  margin: 10px;
}
